.scrolling_list {
    height: 595px;
    width: 300px;
    overflow: hidden;
}


.scrolling_list:hover {
    overflow: auto;
}

  max-width: 92%;
  height: auto;
}

.img3 {
  max-width: 92%;
  height: auto;
}
